apiVersion: kubescheduler.config.k8s.io/v1alpha2
kind: KubeSchedulerConfiguration
leaderElection:
  leaderElect: false
clientConnection:
  #kubeconfig: "REPLACE_ME_WITH_KUBE_CONFIG_PATH" #not-required, will use in-cluster config (default API)
profiles:
- schedulerName: default-scheduler
  plugins:
    queueSort:
      enabled:
        - name: Coscheduling
      disabled:
        - name: "*"
- schedulerName: gang-scheduler
  plugins:
    queueSort:
      enabled:
        - name: Coscheduling
      disabled:
        - name: "*"
    filter:
      enabled:
        - name: Coscheduling
      disabled:
        - name: "*"
    preFilter:
      enabled:
        - name: Coscheduling
    preScore:
      enabled:
        - name: Coscheduling      
    score:
      enabled:
        - name: Coscheduling
      disabled:
        - name: "*"         
    permit:
      enabled:
        - name: Coscheduling
    preBind:
      enabled:
        - name: Coscheduling
    bind:
      enabled:
        - name: Coscheduling
      disabled:
        - name: "*"
    reserve:
      enabled:
        - name: Coscheduling
        - name: ResourceReservation  # Optional: enables resource reservation for workloads
    unReserve:
      enabled:
        - name: Coscheduling
        - name: ResourceReservation
